body{
	margin:1.5%;
}
header{
	background-image: url("plant6.1.jpg");
	background-repeat: repeat-x;
}
nav{
	text-align: center;
}
#profile{
	margin: 6%;

	margin-left: 20%;
	position: flex;
	top: 20em;
	width:60%;

}
.name{
	font-family: 'Playfair Display', serif;
	margin:1.5%;
	
	font-size: 35px;
	text-align: center;
}
.name2{
		font-family: 'Playfair Display', serif;
		margin:1.5%;
	margin-top: 4%;
	font-size: 30px;
	text-align: center;

}

.btn{
	margin-left: 10em;
	color:white;
}
.btn-2{
	border-radius: 10%;
	padding: 10px;
	margin-left: 10em;
	color:white;
}

.skills{
	text-align: center;
	margin: 5%;
	padding: 5px;
	font-family: 'Playfair Display', serif;
	font-size: 35px;
}
.avatar{
	align-items: center;
	margin:2%;
	padding: 10px;
	margin-left: 14%;
	border-radius: 50%;
}

card{
	margin:10%;
	width: 80%;
}



#text{
	margin-left: 2.5em;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	
	
	width: 80%;
	


}
.edu{
	text-align: center;
	margin: 5%;
	font-family: 'Playfair Display', serif;
	font-size: 35px;
}
.line{
	background-image: url("plant3.1.jpg");
	background-repeat: repeat-x;
}

.contact{
	text-align: center;
		font-family: 'Playfair Display', serif;
		font-size: 35px;

}
.icons{
	text-align: center;
}
a{
	color:black;
}
footer{
		font-family: 'Work Sans', sans-serif;
		text-align: center;
		font-size: 15px;
}







.block {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  border-radius:50%;
  width: 100%;
  height: auto;
}



































@media only screen and (min-width: 992px){
body{
	margin:1.5%;
}
header{
	background-image: url("plant6.1.jpg");
	background-repeat: repeat-x;
}
nav{
	text-align: center;
}
#profile{
	margin:3%;
	width: 30%;
}
.name{
	font-family: 'Playfair Display', serif;
	margin:1.5%;
	margin-top: 4%;
	font-size: 45px;
	text-align: center;
}
.name2{
		font-family: 'Playfair Display', serif;
		margin:1.5%;
	margin-top: 4%;
	font-size: 30px;
	text-align: center;

}
.about1{
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding-top: 13%;
	float:right;
	width:45%;
}
.btn{
	float: middle;
	color:white;

}
.skills{
	margin: 5%;
	font-family: 'Playfair Display', serif;
	font-size: 35px;
}
.avatar{
	border-radius: 50%;
}

card{
	margin:10%;
	width: 80%;
}

#text{
	font-family: 'Work Sans', sans-serif;
	padding: 15px;
	margin:1%;
	width: 60%;
	text-align: center;


}

.edu{
	margin: 5%;
	font-family: 'Playfair Display', serif;
	font-size: 35px;
}
.line{
	background-image: url("plant3.1.jpg");
	background-repeat: repeat-x;
}
.contact{
	text-align: center;
		font-family: 'Playfair Display', serif;
		font-size: 35px;

}
.icons{
	text-align: center;
}
a{
	color:black;
}
footer{
		font-family: 'Work Sans', sans-serif;
		text-align: center;
		font-size: 15px;
}

.block {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  border-radius:50%;
  width: 100%;
  height: auto;
}
}
